<html>
   
    <head>
        <title> US STOCKS </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <body>
           <h1>US STOCKS</h1>
            <div class="ui grid">
            <div class="eight wide column">
                <div class="ui category search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search stocks...">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                  </div>
            </div>
      
    
              <div class="column">  
                
                <form method="get">
                    <select name = "filter">
                        <option value ="all_stocks"> All Stocks </option>
                        <option value ="intraday_highs"> New intraday highs</option>
                        <option value ="closing_highs"> New closing highs </option>

                    </select>
                  
                    <input type = "submit">
                   
                </form>


              </div>
              
           
              </div>
            </div>
       

       

            <div class = table-view>
            <table class="ui celled structured table">
                <thead>
                  <tr>
                <th>No</th>
                  <th>Stock Symbol</th>
                  <th>Company</th>
                  
              
   
             
                 
                </tr></thead>
                <tbody>
                {% for stock in stocks %}
               
                  <tr>
                   
                    <td data-label="stock num">{{stock[0]}}</td>
                    <td data-label="stock symbol">{{stock[1]}}</td>
                    <td data-label="Company"> <a href = "/{{stock[1]}}"> {{stock[2]}}</a></a></td>
          
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        </body>
    </head>
</html>