<html>
    <head>
        <title> Stock Inventory List </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <body>

          <!-- TradingView Widget BEGIN -->
<div class="tradingvioot
ew-widget-container">
  <div id="tradingview_9132b"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": false,
  "symbol": "{{exchange_platform}}:{{stock_symbol}}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_9132b"
}
  );
  </script>
</div>
          <!-- TradingView Widget END -->


           </div>
          <div class = table-view> 
            <table class="ui celled structured table">
                <thead>
                  <tr>
                  <th>stock_id</th>
                  <th>Date</th>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Close</th>
                  <th>Volume</th>
                </tr></thead>
                <tbody>
                {% for stock in stocks %}
                  <tr>
               
                    <td data-label="stock_id">{{stock["stock_id"]}}</td>
                    <td data-label="date">{{stock["date"]}}</td>
                    <td data-label="open">{{stock["open"]}}</td>
                    <td data-label="high">{{stock["high"]}}</td>
                    <td data-label="low">{{stock["low"]}}</td>
                    <td data-label="close">{{stock["close"]}}</td>
                    <td data-label="volume">{{stock["volume"]}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </body>
    </head>
</html>