<html>
    <head>
        <title> Stock Inventory List </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <body>
         


           </div>
          <div class = table-view> 
            <table class="ui celled structured table">
                <thead>
                  <tr>
                  <th>stock_id</th>
                  <th>Date</th>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Close</th>
                  <th>Volume</th>
                </tr></thead>
                <tbody>
                {% for stock in stocks %}
                  <tr>
                    <td data-label="stock_id">{{stock["stock_id"]}}</td>
                    <td data-label="date">{{stock["date"]}}</td>
                    <td data-label="open">{{stock["open"]}}</td>
                    <td data-label="high">{{stock["high"]}}</td>
                    <td data-label="low">{{stock["low"]}}</td>
                    <td data-label="close">{{stock["close"]}}</td>
                    <td data-label="volume">{{stock["volume"]}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </body>
    </head>
</html>